<mat-toolbar color="accent" class="fixed-header">
  <mat-toolbar-row>
      <div>
          <a routerLink="/">
            Jobber
          </a>
        </div>
      <span class="example-spacer"></span>
      
    
    <a mat-button *ngIf="auth.isAuthenticated()" routerLink="/prestador">Prestadores</a>
    <a mat-button *ngIf="auth.isAuthenticated()" routerLink="/contratante">Contratantes</a>
    <a mat-button *ngIf="auth.isAuthenticated()" routerLink="/servico">Serviços</a>
    <a mat-button *ngIf="auth.isAuthenticated()" routerLink="/estado">Estados</a>
    <a mat-button *ngIf="auth.isAuthenticated()" routerLink="/cidade">Cidades</a>
    <a mat-button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</a>
    <a mat-button *ngIf="!auth.isAuthenticated()" routerLink="/dashboard">Área de desenvolvimento</a>
    <a mat-button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Sair</a>




  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  
  <mat-sidenav-content>
   
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>